* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

hr {
  width: 124px;
  border: 0;
  margin: 2rem auto 2rem auto;
  text-align: center;
  border-top: 2px solid rgb(227, 77, 77);
}

.btn-success {
  background-color: transparent !important;
  border-color: #17a98a !important;
}

.btn-success:hover {
  background-color: #12856c !important;
  border-color: #12856c !important;
  -webkit-transition: linear .5s; /* Safari prior 6.1 */
  transition: linear .5s;
}



/*
**
*** Navbar Section
**
*/

.navbar-light .navbar-nav .nav-link {
  color: rgb(194, 191, 191);
}



/*
**
*** Callout/header Section
**
*/

.callout {
  height: calc(100vh - 48px);
  background-color: bisque;

  background: url("./static/images/code.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-avatar {
  position: relative;
  top: 30%;
  max-width: 100%;
  height: auto;
  z-index: 1001;
}

.img-avatar img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(187, 85, 85, 0.2);
}

.jumbotron {
  background-color: #0f1317d6;
  color: wheat;
  position: relative;
  padding: 2rem 1rem;
  top: 30%;
  max-width: 400px;
  margin: auto;
}

.jumbotron button {
  display: block;
  margin: auto;
}



/*
**
*** About Me Section
**
*/

.container-about {
  padding: 0 0 50px 0;
}

.img-lang {
  height: 50px;
}

.exp {
  font-size: 12px;
}



/*
**
*** Technologies Section
**
*/

.container-technologies {
  padding: 0 0 50px 0;
}



/*
**
*** Projects Section
**
*/

.container-projects {
  padding: 0 0 50px 0;
}



/*
**
*** Experience Section
**
*/

.container-exp {
  padding: 0 0 50px 0;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  max-width: 1000px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5
}

.timeline ul {
  margin: 0;
  padding: 0;

}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;

}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 28px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(233,33,99,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 28px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(233,33,99,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  color: rgba(233,33,99,1);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  width: 136px;
  top: 16px;
  right: -156px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233,33,99,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  width: 136px;
  top: 16px;
  left: -156px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233,33,99,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}



/*
**
*** Contact Section
**
*/

.container-contact {
  padding: 0 0 50px 0;
}



/*
**
*** Footer Section
**
*/

footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  padding: 10px 0;
}

.social-links {
  margin-top: 20px;
  padding-bottom: 15px;
}

.social-links li a span {
  margin: 4px;
  padding: 12px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a span:hover {
  background: #e84610;
}