* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

hr {
  width: 124px;
  border: 0;
  margin: 2rem auto 2rem auto;
  text-align: center;
  border-top: 2px solid rgb(50, 135, 70);
}

.btn-success {
  background-color: #328746 !important;
  border-color: #7ba284 !important;
}

.btn-success:hover {
  background-color: #12856c !important;
  border-color: #12856c !important;
  -webkit-transition: linear .5s; /* Safari prior 6.1 */
  transition: linear .5s;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.fade {
  transform: translateY(50px);
  opacity: 0.4;
  transition: 2s;
}

.fade-in {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  transition: 2s !important;
}

/*
**
*** Navbar Section
**
*/

.bg-dark {
  background-color: #333743 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.scroll-down-nav {
  opacity: 0.85;
  padding: 0;
  transition: all 0.9s;
}

.current {
  color: rgba(255,255,255,.75) !important;
  text-decoration: underline;
}


/*
**
*** Callout/header Section
**
*/

.callout {
  height: 100vh;
  background-color: bisque;

  background: url("./static/images/code.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-avatar {
  position: relative;
  top: 30%;
  max-width: 100%;
  height: auto;
  z-index: 1001;
  animation-name: big;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
}

@keyframes big {
  0%   { top: 30%; }
  50%  { top: 35%; }
  100% { top: 30%; }
}

.img-avatar img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(187, 85, 85, 0.2);
}

.jumbotron {
  background-color: #0f1317d6;
  color: #dcd7d7;
  position: relative;
  padding: 2rem 1rem;
  top: 30%;
  max-width: 400px;
  margin: auto;
  animation-name: big;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
}

.jumbotron button {
  display: block;
  margin: auto;
}



/*
**
*** About Me Section
**
*/

.container-about {
  padding-top: 50px;
}

.about--padding-top {
  padding-top: 135px;
  transition: 0.5s;
}

.img-lang {
  height: 50px;
}

.exp {
  font-size: 12px;
}



/*
**
*** Technologies Section
**
*/

.container-technologies {
  padding-top: 100px;
}



/*
**
*** Projects Section
**
*/

.card h5 {
  font-weight: bold;
}

.card hr {
  width: 87px;
  border: 0;
  margin: 0 0 12px;
  text-align: center;
  border-top: 2px solid rgb(50, 135, 70);
}

.card ul {
  margin-left: 15px;
}

.card:hover {
  box-shadow: 0px 0px 10px 1px #000000;
  transition: 1s;
}

.container-projects {
  padding-top: 100px;
}

.card-img-top {
  height: 135px;
}

.card a:hover img {
  opacity: 0.7;
  transition: 0.5s;
}

.card-title {
  height: 48px;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: inherit;
  border-top: inherit;
}

.card-footer a svg:hover {
  color: #12856c;
}

/*
**
*** Experience Section
**
*/

.container-exp {
  padding-top: 100px;
}

.timeline {
  position: relative;
  margin: 0px auto;
  max-width: 1000px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5
}

.timeline ul {
  margin: 0;
  padding: 0;

}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;

}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 28px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(50,135,70,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(50,135,70,0.2);
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 28px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(50,135,70);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(50,135,70,0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  color: rgba(50,135,70);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  width: 136px;
  top: 16px;
  right: -156px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(50,135,70);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(50,135,70,0.3);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  width: 136px;
  top: 16px;
  left: -156px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(50,135,70);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(50,135,70,0.3);
}

@media only screen and (max-width: 645px) {
  .timeline ul li {
    padding: 76px 40px;
  }

  .timeline ul li:nth-child(even) {
    float: left;
    text-align: right;
  }
  .timeline ul li:nth-child(even):before {
    left: auto;
    right: 11px;
  }
  .timeline ul li:nth-child(odd):before {
    right: 11px;
  }
  .timeline ul li:nth-child(even) .time {
    left: auto;
    top: 17px;
    right: 38px;
  }
  .timeline ul li:nth-child(odd) .time {
    right: 38px;
  }
  .timeline ul li {
    width: 100%;
  }
  .timeline::before {
    right: 14px;
    left: auto;
  }
}

.slide-in {
  opacity: 0.3;
  transition: all 2.5s;
}

.timeline ul li:nth-child(odd) .slide-in {
  transform: translateX(-30%);
}

.timeline ul li:nth-child(odd) .time {
  transform: translateX(100%);
}

.timeline ul li:nth-child(even) .slide-in {
  transform: translateX(30%);
}

.timeline ul li:nth-child(even) .time {
  transform: translateX(-100%);
}

.active {
  opacity: 1;
  transform: translateX(0%) !important;
}

@media only screen and (max-width: 710px) {
  .timeline ul li:nth-child(odd) .slide-in {
    transform: translateX(-15%);
  }
  
  .timeline ul li:nth-child(odd) .time {
    transform: translateX(-40%);
  }
  
  .timeline ul li:nth-child(even) .slide-in {
    transform: translateX(-15%);
  }
  
  .timeline ul li:nth-child(even) .time {
    transform: translateX(-40%);
  }
}


/*
**
*** Contact Section
**
*/

.container-contact {
  padding-top: 100px;
  padding-bottom: 50px;
}

.container-contact form {
  border: 1px solid #dcd7d7;
  margin: auto;
  width: 80%;
  padding: 20px;
  background: #f5f2f2;
}


/*
**
*** Footer Section
**
*/

footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  padding: 10px 0;
}

.social-links {
  margin-top: 20px;
  padding-bottom: 15px;
}

.social-links li a span {
  margin: 4px;
  padding: 12px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: rgba(50,135,70);
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a span:hover {
  background: rgba(50,135,70,0.3);
}